<div class='bg-white'>
  <div
    class='
      max-w-7xl
      mx-auto
      py-16
      px-4
      sm:py-24 sm:px-6
      lg:px-8 lg:flex lg:justify-between
    '
  >
    <div class='max-w-xl'>
      <h2
        class='
        text-3xl
          font-bold
          text-gray-900
          sm:text-3xl sm:tracking-tight
          lg:text-4xl
        '
      >
        Страхование недвижимости
      </h2>
      <p class='mt-5 text-xl text-gray-600'>
        Крыша — это сервис, где люди оформляют страховку для домов и
        квартир.<br><br>Для оформления страховки необходимо указать адрес
        объекта, выбрать покрытие и ввести данные страхователя: дату рождения,
        фамилию, имя, отчество и контактные данные. Через 2 минуты после оплаты
        вы получите страховой полис на свой почтовый адрес.<br><br>Осмотр и
        визит в офис компании не требуется.
      </p>
    </div>
    <div class='w-full mt-10 md:-mt-24'>
      <img class='max-w-md md:max-w-xl'
           src='https://staging.krysha.insure/static/Coming_soon-7904ffbb33c87f11e5e9150272f39d33.svg'
           alt='' />
    </div>
  </div>
</div>
