<div
  class="flex flex-col gap-y-10 mx-auto max-w-7xl bg-white text-center items-center px-24 py-10"
>
  <h2 class="font-extrabold text-5xl lg:text-6xl text-gray-900">
    Уже застрахованы?<br />Переходите к Крыше!
  </h2>
  <p class="text-gray-600 text-lg">
    Если вас не устраивает текущий страховщик, добро пожаловать к нам. Нам
    действительно важны ваши интересы и мы благодарны за бизнес, который вы
    доверяете нам, поэтому сделаем все, чтобы оправдать ваше доверие.
  </p>
  <div class="inline-flex rounded-md shadow z-20">
    <a
      href="#"
      class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700"
    >
      Сравните наши цены
    </a>
  </div>
</div>
