<div class="bg-white lg:py-16">
  <div
    class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 lg:flex lg:justify-between"
  >
    <div class="w-full mt-10 md:-mt-24">
      <img
        class="max-w-md md:max-w-xl"
        src="https://staging.krysha.insure/static/Congratulations-32a02b50685926ebd48d9eada6ce9537.svg"
        alt=""
      />
    </div>
    <div class="max-w-xl items-center my-auto">
      <p class="my-5 text-lg font-semibold text-green-500">
        {{i18n "ourConditionals"}}
      </p>
      <h2
        class="text-3xl font-extrabold text-gray-900 sm:text-4xl sm:tracking-tight lg:text-5xl"
      >
        {{i18n "conditionals"}}
      </h2>
      <p class="mt-5 text-xl text-gray-600">
        {{i18n "forBetterUnderstanding"}}
      </p>
      <div class="py-4">
        <div class="max-w-xl lg:max-w-7xl">
          <dl
            class="space-y-5 lg:space-y-0 grid items-baseline grid-cols-1 lg:grid-cols-2 lg:gap-4"
          >
            <dt class="flex items-center align-middle gap-3">
              <p class="text-lg leading-6 font-bold text-gray-900 font-bold">
                {{i18n "rules"}}
              </p>
              <span class="text-blue-700 font-extrabold text-lg"> > </span>
            </dt>
            <dt class="flex items-center align-middle gap-3">
              <p class="text-lg leading-6 font-bold text-gray-900 font-bold">
                {{i18n "table"}}
              </p>
              <span class="text-blue-700 font-extrabold text-lg"> > </span>
            </dt>
            <dt class="flex items-center align-middle gap-3">
              <p class="text-lg leading-6 font-bold text-gray-900 font-bold">
                {{i18n "shablon"}}
              </p>
              <span class="text-blue-700 font-extrabold text-lg"> > </span>
            </dt>
            <dt class="flex items-center align-middle gap-3">
              <p class="text-lg leading-6 font-bold text-gray-900 font-bold">
                {{i18n "rules"}}
              </p>
              <span class="text-blue-700 font-extrabold text-lg"> > </span>
            </dt>
            <dt class="flex items-center align-middle gap-3">
              <p class="text-lg leading-6 font-bold text-gray-900 font-bold">
                {{i18n "expections"}}
              </p>
              <span class="text-blue-700 font-extrabold text-lg"> > </span>
            </dt>
            <dt class="flex items-center align-middle gap-3">
              <p class="text-lg leading-6 font-bold text-gray-900 font-bold">
                {{i18n "payment"}}
              </p>
              <span class="text-blue-700 font-extrabold text-lg"> > </span>
            </dt>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
