<div class='bg-white pt-16 px-4 md:px-0 '>
  <div
    class='
      max-w-7xl
      mx-auto
      sm:py-12 sm:px-6
      lg:px-8 lg:flex lg:justify-between
    '
  >
    <div class='max-w-xl'>
      <h2
        class='
        text-3xl
          font-bold
          text-gray-900
          sm:text-3xl sm:tracking-tight
          lg:text-4xl
        '
      >
        Особенности Крыши
      </h2>
      <p class='mt-5 text-xl text-gray-600'>
        Крыша — это страховой сервис нового поколения. Совместно со страховыми
        компаниями мы разрабатываем продукты и обслуживаем их в дальнейшем:
        продаем, оказываем поддержку клиентам. Самое главное наше отличие в том,
        что у нас нет конфликта интересов и мы с уверенностью можем сказать, что
        мы на стороне клиента.
      </p>
      <div class='inline-flex rounded-md shadow z-20  my-5'>
        <a
          href='#'
          class='

            inline-flex
            items-center
            justify-center
            px-5
            py-3
            border border-transparent
            text-base
            font-medium
            rounded-md
            text-white
            bg-blue-600
            hover:bg-blue-700
          '
        >
          Узнать больше ->
        </a>
      </div>
    </div>
    <div class='w-full'>
      <img class='w-full md:max-w-md'
           src='https://images.unsplash.com/photo-1534949752991-a065b0f5dfaa?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTYxfHxkZXZpY2V8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60'
           alt='' />
    </div>
  </div>
  <div class="py-4 bg-white">
    <div class="max-w-xl mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <dl class="space-y-10 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-8">
        <div>
          <dt>
            <p class="mt-5 text-lg leading-6 font-bold text-blue-600">
              Своевременные выплаты
            </p>
          </dt>
          <dd class="mt-2 text-base text-gray-600">
            Приложим все усилия к тому, чтобы вы получили своевременную выплату по страховому случаю.
          </dd>
        </div>

        <div>
          <dt>
            <p class="mt-5 text-lg leading-6 font-bold text-blue-600">
              Гибкая настройка тарифа
            </p>
          </dt>
          <dd class="mt-2 text-base text-gray-600">
            Потребности каждого уникальны. Мы понимаем это и делаем настраиваемые тарифы, которые при этом остаются простыми для понимания.
          </dd>
        </div>

        <div>
          <dt>
            <p class="mt-5 text-lg leading-6 font-bold text-blue-600">
              На связи круглосуточно
            </p>
          </dt>
          <dd class="mt-2 text-base text-gray-600">
            Наша поддержка всегда на связи, в чате, по телефону или по емейлу. Будем рады проконсультировать вас и помочь в любом вопросе про дом и страхование.
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>

