<div class="bg-white pt-16 px-4 md:px-0">
  <div
    class="max-w-7xl mx-auto sm:py-12 sm:px-6 lg:px-8 lg:flex lg:justify-between"
  >
    <div class="max-w-xl">
      <h2
        class="text-3xl font-bold text-gray-900 sm:text-3xl sm:tracking-tight lg:text-4xl"
      >
        {{i18n "whyKrysha"}}
      </h2>
      <p class="mt-5 text-xl text-gray-600">{{i18n "kryshaIs1"}}</p>
      <div class="inline-flex rounded-md shadow z-20 my-5">
        <a
          href="#"
          class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700"
        >
          {{i18n "knowMore"}} ->
        </a>
      </div>
    </div>
    <div class="w-full">
      <img
        class="w-full md:max-w-md"
        src="https://images.unsplash.com/photo-1534949752991-a065b0f5dfaa?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTYxfHxkZXZpY2V8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
        alt=""
      />
    </div>
  </div>
  <div class="py-4 bg-white">
    <div class="max-w-xl mx-auto lg:max-w-7xl lg:px-8">
      <dl class="space-y-10 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-8">
        <div>
          <dt>
            <p class="mt-5 text-lg leading-6 font-bold text-blue-600">
              {{i18n "ourPayouts"}}
            </p>
          </dt>
          <dd class="mt-2 text-base text-gray-600">{{i18n "weWillDo"}}</dd>
        </div>

        <div>
          <dt>
            <p class="mt-5 text-lg leading-6 font-bold text-blue-600">
              {{i18n "variantTo"}}
            </p>
          </dt>
          <dd class="mt-2 text-base text-gray-600">{{i18n "ourVariants"}}</dd>
        </div>

        <div>
          <dt>
            <p class="mt-5 text-lg leading-6 font-bold text-blue-600">
              {{i18n "allDaySupport"}}
            </p>
          </dt>
          <dd class="mt-2 text-base text-gray-600">{{i18n "ourSupport"}}</dd>
        </div>
      </dl>
    </div>
  </div>
</div>
