<div class="bg-gray-100 py-12 lg:py-24">
  <div
    class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 lg:flex lg:justify-between"
  >
    <div class="lg:max-w-sm flex flex-col gap-y-10">
      <h2
        class="text-5xl font-extrabold text-gray-900 sm:text-4xl sm:tracking-tight lg:text-6xl"
      >
        {{i18n "isSerious"}}
      </h2>
      <p class="text-xl text-gray-700">{{i18n "kryshaIs"}}</p>

      <blockquote class="pb-5 flex flex-col gap-5 bg-white p-4 sm:p-8">
        <p class="text-lg text-gray-600">{{i18n "kryshaDesc"}}</p>
        <div class="flex flex-row gap-5 items-center">
          <a href="#" class="block relative">
            <img
              alt="avatar"
              src="https://res.cloudinary.com/dalyoko/image/upload/c_scale,q_80,w_220/v1635854146/krysha/image-2.jpg"
              class="object-cover rounded-full h-16 w-16"
            />
          </a>
          <div>
            <p class="text-lg text-gray-900 font-bold">{{i18n "mark"}}</p>
            <p class="text-md text-gray-600">{{i18n "markJob"}}</p>
          </div>
        </div>
      </blockquote>
    </div>
    <div>
      <div>
        <img
          class="mx-auto"
          src="https://staging.krysha.insure/static/fannyDog-0672ee04ce539bf675c61dae4d01954a.svg"
          alt="cute-dog"
        />
        <dl
          class="mt-12 space-y-10 sm:space-y-0 sm:grid sm:gap-x-6 sm:gap-y-12 lg:px-16 lg:grid-cols-3 lg:gap-x-8"
        >
          <div class="relative">
            <dt>
              <p class="text-xl leading-6 font-bold text-gray-900">
                {{i18n "whyUs1"}}
              </p>
            </dt>
            <dd class="mt-2 text-lg text-gray-600">{{i18n "whyUs2"}}</dd>
          </div>
          <div class="relative">
            <dt>
              <p class="text-xl leading-6 font-bold text-gray-900">
                {{i18n "whyUs3"}}
              </p>
            </dt>
            <dd class="mt-2 text-lg text-gray-600">{{i18n "whyUs4"}}</dd>
          </div>
          <div class="relative">
            <dt>
              <p class="text-xl leading-6 font-bold text-gray-900">
                {{i18n "whyUs5"}}
              </p>
            </dt>
            <dd class="mt-2 text-lg text-gray-600">{{i18n "whyUs6"}}</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>
