<div
  class="px-4 py-12 md:py-24 bg-gray-50 mx-auto flex flex-col lg:flex-row lg:mx-0 justify-center gap-10"
>
  <div class="w-full mx-auto lg:mx-0 max-w-2xl flex flex-col">
    <div class="sm:text-center lg:text-left flex-1 my-16">
      <h1
        class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl"
      >
        <span class="block xl:inline"
          >Самое главное в страховании квартиры —
        </span>
        <span class="block text-green-500 xl:inline">всё</span>
      </h1>
      <p class="mt-3 text-xl text-gray-600 sm:mt-5 sm:max-w-xl">
        Скрупулезное отношение к деталям — это основа наших отношений.
      </p>
    </div>
    <dl
      class="space-y-10 grid grid-cols-1 items-baseline sm:grid-cols-2 lg:gap-6"
    >
      <div>
        <dt>
          <div class="flex h-12 w-12 rounded-md bg-primary-500 text-white">
            <svg
              class="h-8 w-8 fill-green-500 stroke-green-500"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="0"
              stroke="currentColor"
              aria-hidden="true"
            >
              <g>
                <path fill="none" d="M0 0H24V24H0z"></path>
                <path
                  d="M12 1l8.217 1.826c.457.102.783.507.783.976v9.987c0 2.006-1.003 3.88-2.672 4.992L12 23l-6.328-4.219C4.002 17.668 3 15.795 3 13.79V3.802c0-.469.326-.874.783-.976L12 1zm0 2.049L5 4.604v9.185c0 1.337.668 2.586 1.781 3.328L12 20.597l5.219-3.48C18.332 16.375 19 15.127 19 13.79V4.604L12 3.05zm4.452 5.173l1.415 1.414L11.503 16 7.26 11.757l1.414-1.414 2.828 2.828 4.95-4.95z"
                ></path>
              </g>
            </svg>
          </div>
          <p class="text-lg leading-6 font-bold text-green-500">
            Гражданская ответственность
          </p>
        </dt>
        <dd class="mt-2 text-base text-gray-600">
          При страховом случае сразу документируйте повреждения и уведомляйте
          страховщика. Иначе происшествие могут не признать страховым случаем.
        </dd>
      </div>

      <div>
        <dt>
          <div class="flex h-12 w-12 rounded-md bg-primary-500 text-white">
            <!-- Heroicon name: outline/scale -->
            <svg
              class="h-8 w-8 fill-green-500 stroke-green-500"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              stroke-width="0"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <g>
                <path fill="none" d="M0 0H24V24H0z"></path>
                <path
                  d="M19 1c.552 0 1 .448 1 1v20c0 .552-.448 1-1 1H5c-.552 0-1-.448-1-1V2c0-.552.448-1 1-1h14zm-1 11H6v9h12v-9zm-8 2v4H8v-4h2zm8-11H6v7h12V3zm-8 2v3H8V5h2z"
                ></path>
              </g>
            </svg>
          </div>
          <p class="text-lg leading-6 font-bold text-green-500">Имущество</p>
        </dt>
        <dd class="mt-2 text-base text-gray-600">
          Наши продукты основаны на доверии и удобстве. Мы отказались от осмотра
          и оценки, чтобы не тратить время клиента и не делать продукт дорогим.
        </dd>
      </div>

      <div>
        <dt>
          <div class="flex h-12 w-12 rounded-md bg-primary-500 text-white">
            <svg
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              viewBox="0 0 24 24"
              class="h-8 w-8 fill-green-500 stroke-green-500"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g>
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path
                  fill-rule="nonzero"
                  d="M12 11a5 5 0 0 1 5 5v6h-2v-6a3 3 0 0 0-2.824-2.995L12 13a3 3 0 0 0-2.995 2.824L9 16v6H7v-6a5 5 0 0 1 5-5zm-6.5 3c.279 0 .55.033.81.094a5.947 5.947 0 0 0-.301 1.575L6 16v.086a1.492 1.492 0 0 0-.356-.08L5.5 16a1.5 1.5 0 0 0-1.493 1.356L4 17.5V22H2v-4.5A3.5 3.5 0 0 1 5.5 14zm13 0a3.5 3.5 0 0 1 3.5 3.5V22h-2v-4.5a1.5 1.5 0 0 0-1.356-1.493L18.5 16c-.175 0-.343.03-.5.085V16c0-.666-.108-1.306-.309-1.904.259-.063.53-.096.809-.096zm-13-6a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5zm13 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5zm-13 2a.5.5 0 1 0 0 1 .5.5 0 0 0 0-1zm13 0a.5.5 0 1 0 0 1 .5.5 0 0 0 0-1zM12 2a4 4 0 1 1 0 8 4 4 0 0 1 0-8zm0 2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"
                ></path>
              </g>
            </svg>
          </div>
          <p class="text-lg leading-6 font-bold text-green-500">
            Действия третьих лиц
          </p>
        </dt>
        <dd class="mt-2 text-base text-gray-600">
          Ваше имущество застраховано от воров, но не от мошенников или
          вымогателей. Ознакомьтесь с исключениями в правилах страхования.
        </dd>
      </div>
      <div>
        <dt>
          <div class="flex h-12 w-12 rounded-md bg-primary-500 text-white">
            <svg
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              viewBox="0 0 24 24"
              class="h-8 w-8 fill-green-500 stroke-green-500"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g>
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path
                  d="M19 21H5a1 1 0 0 1-1-1v-9H1l10.327-9.388a1 1 0 0 1 1.346 0L23 11h-3v9a1 1 0 0 1-1 1zM6 19h12V9.157l-6-5.454-6 5.454V19z"
                ></path>
              </g>
            </svg>
          </div>
          <p class="text-xl leading-6 font-bold text-green-500">
            Конструктивные элементы
          </p>
        </dt>
        <dd class="mt-2 text-lg text-gray-600">
          Удельный весь стоимости конструктивных элементов разнится в
          зависимости от этажа.
        </dd>
      </div>
    </dl>
  </div>
  <div class="lg:max-w-md w-full mt-12 md:mt-0 mx-auto m-full lg:mx-0">
    <img
      class="h-56 w-full object-cover lg:w-full lg:h-full"
      src="https://images.unsplash.com/photo-1573878737226-4f9572c22b69?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80"
      alt=""
    />
  </div>
</div>
