<div class="bg-gray-50">
  <div
    class="max-w-7xl mx-auto lg:py-16 px-4 sm:px-6 lg:px-8 lg:flex lg:justify-between"
  >
    <div class="w-full mt-10 md:-mt-24">
      <img
        class="max-w-md md:max-w-xl"
        src="https://staging.krysha.insure/static/somethingBroken-887c10e06bf4b6eac9457a741860dac7.svg"
        alt=""
      />
    </div>
    <div class="max-w-xl">
      <h2
        class="text-3xl font-extrabold text-gray-900 sm:text-4xl sm:tracking-tight lg:text-5xl"
      >
        При наступлении страхового случая
      </h2>
      <p class="mt-5 text-xl text-gray-600">
        Сообщите нам о произошедшем в чате, по электронной почте или по
        телефону. Оператор поможет подготовить пакет документов для рассмотрения
        страхового случая, и в кратчайшие сроки вы получите компенсацию.
      </p>
      <div class="inline-flex rounded-md shadow z-20 my-10">
        <a
          href="#"
          class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700"
        >
          Сообщить о страховом случае ->
        </a>
      </div>
    </div>
  </div>
</div>
