<div class="bg-gray-50 lg:py-16">
  <div
    class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 lg:flex lg:justify-between"
  >
    <div class="w-full mt-10 md:-mt-24">
      <img
        class="max-w-md md:max-w-xl"
        src="https://staging.krysha.insure/static/somethingBroken-887c10e06bf4b6eac9457a741860dac7.svg"
        alt=""
      />
    </div>
    <div class="max-w-xl">
      <h2
        class="text-3xl font-extrabold text-gray-900 sm:text-4xl sm:tracking-tight lg:text-5xl"
      >
        При наступлении страхового случая
      </h2>
      <p class="mt-5 text-xl text-gray-700">
        Сообщите нам о произошедшем в чате, по электронной почте или по
        телефону. Оператор поможет подготовить пакет документов для рассмотрения
        страхового случая, и в кратчайшие сроки вы получите компенсацию.
      </p>
      <div class="inline-flex rounded-md shadow z-20 my-10">
        <a
          href="#"
          class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700"
        >
          Сообщить о страховом случае ->
        </a>
      </div>
    </div>
  </div>
  <div class="py-4">
    <div class="max-w-xl mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <dl
        class="space-y-10 lg:space-y-0 grid items-baseline grid-cols-1 lg:grid-cols-3 lg:gap-8"
      >
        <div>
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 24 24"
            class="h-14 w-14 text-blue-700"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g>
              <path fill="none" d="M0 0h24v24H0z"></path>
              <path
                fill-rule="nonzero"
                d="M12 23a7.5 7.5 0 0 0 7.5-7.5c0-.866-.23-1.697-.5-2.47-1.667 1.647-2.933 2.47-3.8 2.47 3.995-7 1.8-10-4.2-14 .5 5-2.796 7.274-4.138 8.537A7.5 7.5 0 0 0 12 23zm.71-17.765c3.241 2.75 3.257 4.887.753 9.274-.761 1.333.202 2.991 1.737 2.991.688 0 1.384-.2 2.119-.595a5.5 5.5 0 1 1-9.087-5.412c.126-.118.765-.685.793-.71.424-.38.773-.717 1.118-1.086 1.23-1.318 2.114-2.78 2.566-4.462z"
              ></path>
            </g>
          </svg>
          <dt>
            <p class="mt-5 text-xl leading-6 font-extrabold text-blue-600">
              При пожаре
            </p>
          </dt>
          <dd class="mt-2 text-lg text-gray-600">
            Вызовите пожарную службу, а затем напишите или позвоните нам.
            Оператор сориентирует и поможет с оформлением документов.
          </dd>
        </div>

        <div>
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 24 24"
            class="h-14 w-14 text-blue-700"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g>
              <path fill="none" d="M0 0h24v24H0z"></path>
              <path
                d="M4 18h5.5v1.25a2.75 2.75 0 1 1-5.5 0V18zm4.058-4l.045-.132C8.87 11.762 9 11.37 9 11c0-.75-.203-1.643-.528-2.273C8.23 8.257 8.06 8.12 8 8.12 6.72 8.12 5.5 9.484 5.5 11c0 .959.075 1.773.227 2.758l.038.242h2.293zM8 6.12c2 0 3 2.88 3 4.88 0 1-.5 2-1 3.5L9.5 16H4c0-1-.5-2.5-.5-5S5.498 6.12 8 6.12zm12.054 7.978l-.217 1.231a2.75 2.75 0 0 1-5.417-.955l.218-1.23 5.416.954zm-1.05-4.246c.165-.5.301-.895.303-.9.202-.658.361-1.303.485-2.008.263-1.492-.702-3.047-1.962-3.27-.059-.01-.25.095-.57.515-.43.565-.784 1.41-.915 2.147-.058.33-.049.405.27 2.263.045.256.082.486.116.717l.02.138 2.254.398zm-.826-8.147c2.464.434 4.018 3.124 3.584 5.586-.434 2.463-1.187 3.853-1.36 4.838l-5.417-.955-.232-1.564c-.232-1.564-.55-2.636-.377-3.62.347-1.97 1.832-4.632 3.802-4.285z"
              ></path>
            </g>
          </svg>
          <dt>
            <p class="mt-5 text-xl leading-6 font-extrabold text-blue-600">
              При противоправных действиях
            </p>
          </dt>
          <dd class="mt-2 text-lg text-gray-700">
            Вызовите полицию и сообщите нам о произошедшем. Мы зафиксируем
            страховой случай и будем сопровождать вас до получения компенсации.
          </dd>
        </div>

        <div>
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 24 24"
            class="h-14 w-14 text-blue-700"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g>
              <path fill="none" d="M0 0h24v24H0z"></path>
              <path
                fill-rule="nonzero"
                d="M16 17.472A5.978 5.978 0 0 0 20 19h2v2h-2a7.963 7.963 0 0 1-4-1.07A7.96 7.96 0 0 1 12 21a7.963 7.963 0 0 1-4-1.07A7.96 7.96 0 0 1 4 21H2v-2h2c1.537 0 2.94-.578 4-1.528A5.978 5.978 0 0 0 12 19c1.537 0 2.94-.578 4-1.528zm-3.427-15.94l.1.08L23 11h-3v6a5.99 5.99 0 0 1-2-.341V9.157l-6-5.455-6 5.454.001 7.502a5.978 5.978 0 0 1-1.702.335L4 17v-6H1l10.327-9.388a1 1 0 0 1 1.246-.08z"
              ></path>
            </g>
          </svg>
          <dt>
            <p class="mt-5 text-xl leading-6 font-extrabold text-blue-600">
              При затоплении
            </p>
          </dt>
          <dd class="mt-2 text-lg text-gray-700">
            Вызовите сотрудников управляющей организации вашего дома, а затем
            сообщите нам о случившемся. Мы решим вопросы.
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
