<div class="bg-gray-50 pb-24">
  <div class="pt-12 sm:pt-16 lg:pt-24">
    <div class="max-w-7xl mx-auto text-center px-4 sm:px-6 lg:px-8">
      <div class="max-w-3xl mx-auto space-y-2 lg:max-w-none">
        <h2
          class="text-lg leading-6 font-bold text-gray-600 uppercase tracking-wider"
        >
          Тарифы
        </h2>
        <p
          class="text-3xl font-extrabold text-gray-900 sm:text-4xl lg:text-5xl"
        >
          Цена вопроса
        </p>
        <p class="text-xl text-gray-600 max-w-2xl mx-auto">
          У нас есть два тарифа: мини-страховка и стандарт. Стандартный тариф
          гибкий, в нем вы выбираете покрытие. В мини-страховке мы оставили
          только самое необходимое.
        </p>
      </div>
    </div>
  </div>
  <div class="mt-8 pb-12 bg-gray-50 sm:mt-12 sm:pb-16 lg:mt-16 lg:pb-24">
    <div class="relative">
      <div class="relative z-10 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div
          class="max-w-md mx-auto space-y-4 lg:max-w-5xl lg:grid lg:grid-cols-2 lg:gap-5 lg:space-y-0"
        >
          <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
            <div class="px-6 py-8 bg-[#2ecc3b] sm:p-10 sm:pb-6 text-white">
              <div>
                <h3
                  class="inline-flex py-1 rounded-full text-md font-semibold tracking-wide bg-primary-100"
                >
                  Мини
                </h3>
              </div>
              <div class="mt-4 flex items-baseline text-6xl font-extrabold">
                ₽ 55
                <span class="ml-1 text-2xl font-medium"> /мес </span>
              </div>
              <p class="mt-5 text-lg">Экономичный вариант страховой защиты</p>
            </div>
            <div
              class="flex-1 flex flex-col px-6 pt-6 pb-8 bg-gray-50 space-y-6 sm:p-10 sm:pt-6"
            >
              <div class="text-center border-gray-500">
                <div class="rounded-md">
                  <a
                    href="#"
                    class="flex shadow items-center justify-center px-5 py-3 border border-transparent text-base font-bold rounded-md text-white bg-[#3cff4d] hover:bg-[#3cff5d]"
                  >
                    Оформить ->
                  </a>
                </div>
                <p class="py-2 text-base text-gray-600">
                  Моментальный расчет страхового полиса
                </p>
              </div>
              <ul role="list" class="space-y-4">
                <li class="flex items-start">
                  <div class="flex-shrink-0">
                    <svg
                      class="h-6 w-6 text-green-500"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M5 13l4 4L19 7"
                      />
                    </svg>
                  </div>
                  <p class="ml-3 text-base text-gray-700">
                    100 000 ₽ покрытие имущества
                  </p>
                </li>

                <li class="flex items-start">
                  <div class="flex-shrink-0">
                    <!-- Heroicon name: outline/check -->
                    <svg
                      class="h-6 w-6 text-green-500"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M5 13l4 4L19 7"
                      />
                    </svg>
                  </div>
                  <p class="ml-3 text-base text-gray-700">
                    100 000 ₽ покрытие гражданской ответственности
                  </p>
                </li>
              </ul>
            </div>
          </div>

          <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
            <div class="px-6 py-8 bg-[#3c2dcc] sm:p-10 sm:pb-6 text-white">
              <div>
                <h3
                  class="inline-flex py-1 rounded-full text-md font-semibold tracking-wide bg-primary-100"
                >
                  Стандарт
                </h3>
              </div>
              <div class="mt-4 flex items-baseline text-6xl font-extrabold">
                ₽ 79
                <span class="ml-1 text-2xl font-medium"> /мес </span>
              </div>
              <p class="mt-5 text-lg">
                Полноценная страховая защита для вашего дома
              </p>
            </div>
            <div
              class="flex-1 flex flex-col px-6 pt-6 pb-8 bg-gray-50 space-y-6 sm:p-10 sm:pt-6"
            >
              <div class="text-center border-gray-500">
                <div class="rounded-md">
                  <a
                    href="#"
                    class="flex shadow items-center justify-center px-5 py-3 border border-transparent text-base font-bold rounded-md text-white bg-[#3c2dcc] hover:bg-[##3c3dcc]"
                  >
                    Выбрать ->
                  </a>
                </div>
                <p class="py-2 text-base text-gray-600">
                  Моментальный расчет страхового полиса
                </p>
              </div>
              <ul role="list" class="space-y-4">
                <li class="flex items-start">
                  <div class="flex-shrink-0">
                    <svg
                      class="h-6 w-6 text-green-500"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M5 13l4 4L19 7"
                      />
                    </svg>
                  </div>
                  <p class="ml-3 text-base text-gray-700">
                    Внутренняя отделка, включая системы коммуникаций и
                    оборудование
                  </p>
                </li>

                <li class="flex items-start">
                  <div class="flex-shrink-0">
                    <!-- Heroicon name: outline/check -->
                    <svg
                      class="h-6 w-6 text-green-500"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M5 13l4 4L19 7"
                      />
                    </svg>
                  </div>
                  <p class="ml-3 text-base text-gray-700">Движимое имущество</p>
                </li>
                <li class="flex items-start">
                  <div class="flex-shrink-0">
                    <!-- Heroicon name: outline/check -->
                    <svg
                      class="h-6 w-6 text-green-500"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M5 13l4 4L19 7"
                      />
                    </svg>
                  </div>
                  <p class="ml-3 text-base text-gray-700">
                    Гражданская ответственность
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4 relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 lg:mt-5">
      <div class="max-w-md mx-auto lg:max-w-5xl">
        <div
          class="rounded-lg bg-white shadow-lg px-6 py-8 sm:p-10 lg:flex lg:items-center"
        >
          <div class="flex-1">
            <div>
              <h3
                class="inline-flex py-1 rounded-full text-lg font-semibold tracking-wide bg-white text-blue-400"
              >
                ПОДДЕРЖКА
              </h3>
            </div>
            <div class="mt-4 mb-4 text-lg">
              <p class="text-3xl font-bold text-gray-900">
                Включено во все тарифные планы
              </p>

              <ul
                role="list"
                class="space-y-4 flex flex-wrap align-middle items-baseline gap-x-8 mt-4"
              >
                <li class="flex items-start max-w-xl">
                  <div class="flex-shrink-0">
                    <svg
                      class="h-6 w-6 text-green-500"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M5 13l4 4L19 7"
                      />
                    </svg>
                  </div>
                  <p class="ml-3 text-lg text-gray-600">
                    Бесплатная консультация в выборе страхового продукта
                  </p>
                </li>

                <li class="flex items-start max-w-xl">
                  <div class="flex-shrink-0">
                    <!-- Heroicon name: outline/check -->
                    <svg
                      class="h-6 w-6 text-green-500"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M5 13l4 4L19 7"
                      />
                    </svg>
                  </div>
                  <p class="ml-3 text-lg text-gray-600">
                    Помощь в урегулировании вопросов гражданской ответственности
                  </p>
                </li>
                <li class="flex items-start max-w-xl">
                  <div class="flex-shrink-0">
                    <!-- Heroicon name: outline/check -->
                    <svg
                      class="h-6 w-6 text-green-500"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M5 13l4 4L19 7"
                      />
                    </svg>
                  </div>
                  <p class="ml-3 text-lg text-gray-600">
                    Помощь в оформлении документов при возникновении страхового
                    случая
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4 relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 lg:mt-5">
    <div class="max-w-md mx-auto lg:max-w-5xl">
      <div class="bg-white shadow-lg px-6 py-8 sm:p-10 lg:flex lg:items-center">
        <div class="flex-1">
          <p class="text-4xl font-extrabold text-gray-900">
            Застраховать недвижимость просто
          </p>

          <div>
            <h3
              class="inline-flex py-1 rounded-full text-xl mt-24px tracking-wide bg-white text-gray-600"
            >
              Всего три шага — и ваш дом надежно застрахован
            </h3>
          </div>
        </div>
      </div>
      <div class="text-lg bg-blue-600 text-white p-4 md:p-8">
        <ul
          role="list"
          class="space-y-4 flex flex-wrap align-middle items-baseline gap-x-8 mt-4"
        >
          <li class="flex items-start max-w-xl">
            <div class="flex-shrink-0">
              <svg
                class="h-6 w-6 text-green-500"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 13l4 4L19 7"
                />
              </svg>
            </div>
            <p class="ml-3 text-lg">
              Бесплатная консультация в выборе страхового продукта
            </p>
          </li>

          <li class="flex items-start max-w-xl">
            <div class="flex-shrink-0">
              <!-- Heroicon name: outline/check -->
              <svg
                class="h-6 w-6 text-green-500"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 13l4 4L19 7"
                />
              </svg>
            </div>
            <p class="ml-3 text-lg">
              Помощь в урегулировании вопросов гражданской ответственности
            </p>
          </li>
          <li class="flex items-start max-w-xl">
            <div class="flex-shrink-0">
              <!-- Heroicon name: outline/check -->
              <svg
                class="h-6 w-6 text-green-500"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 13l4 4L19 7"
                />
              </svg>
            </div>
            <p class="ml-3 text-lg">
              Помощь в оформлении документов при возникновении страхового случая
            </p>
          </li>
        </ul>
        <div class="rounded-md my-6">
          <a
            href="#"
            class="flex shadow items-center justify-center px-5 py-3 mx-auto border border-transparent text-base md:max-w-lg font-bold rounded-md text-gray-900 bg-[#3cff4d] hover:bg-[#3cff5d]"
          >
            Оформить
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
