<div class="bg-white">
  <div
    class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8 lg:flex lg:justify-between"
  >
    <div class="max-w-xl">
      <h2
        class="text-3xl font-bold text-gray-900 sm:text-3xl sm:tracking-tight lg:text-4xl"
      >
        {{i18n "ensure1"}}
      </h2>
      <p class="mt-5 text-xl text-gray-600">
        {{i18n "ensure1Desc"}}<br /><br />{{i18n "ensure1Desc1"}}<br /><br />{{i18n
        "ensure1Desc2"}}
      </p>
    </div>
    <div class="w-full mt-10 md:-mt-24">
      <img
        class="max-w-md md:max-w-xl"
        src="https://staging.krysha.insure/static/Coming_soon-7904ffbb33c87f11e5e9150272f39d33.svg"
        alt=""
      />
    </div>
  </div>
</div>
