<div class="pt-24 pb-44 bg-white bg-gray-900 w-full">
  <div class="mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div
      class="mb-24 flex flex-col justify-between align-middle gap-y-5 md:flex-row"
    >
      <h2 class="text-5xl text-white font-extrabold">Почему выбирают Крышу</h2>
      <div class="inline-flex rounded-md shadow">
        <a
          href="#"
          class="w-full md:max-w-md inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-bold rounded-md text-gray-900 text-xl font-bold bg-[#3cff4d] hover:bg-[#3cff7d]"
        >
          ОФОРМИТЬ ПОЛИС
        </a>
      </div>
    </div>
    <dl
      class="space-y-10 grid grid-cols-1 items-center sm:grid-cols-2 lg:items-baseline lg:space-y-0 lg:grid-cols-4 lg:gap-6"
    >
      <div>
        <dt>
          <div class="flex h-12 w-12 rounded-md bg-primary-500 text-white">
            <svg
              class="h-8 w-8 fill-[#3cff4d] stroke-[#3cff4d]"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="0"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                d="m21.781 13.875-2-2.5A1 1 0 0 0 19 11h-6V9h6c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2H5a1 1 0 0 0-.781.375l-2 2.5a1.001 1.001 0 0 0 0 1.25l2 2.5A1 1 0 0 0 5 9h6v2H5c-1.103 0-2 .897-2 2v3c0 1.103.897 2 2 2h6v4h2v-4h6a1 1 0 0 0 .781-.375l2-2.5a1.001 1.001 0 0 0 0-1.25zM4.281 5.5 5.48 4H19l.002 3H5.48L4.281 5.5zM18.52 16H5v-3h13.52l1.2 1.5-1.2 1.5z"
              ></path>
            </svg>
          </div>
          <p class="mt-5 text-lg leading-6 font-bold text-white">
            Страховка без бумажной волокиты
          </p>
        </dt>
        <dd class="mt-2 text-base text-gray-400">
          Нет никакой необходимости тратить время на оформление бумаг, всё — в
          диджитал.
        </dd>
      </div>

      <div>
        <dt>
          <div class="flex h-12 w-12 rounded-md bg-primary-500 text-white">
            <!-- Heroicon name: outline/scale -->
            <svg
              class="h-8 w-8 fill-[#3cff4d] stroke-[#3cff4d]"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              stroke-width="0"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path d="M12 18c4 0 5-4 5-4H7s1 4 5 4z"></path>
              <path
                d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"
              ></path>
              <path
                d="m13 12 2 .012c.012-.462.194-1.012 1-1.012s.988.55 1 1h2c0-1.206-.799-3-3-3s-3 1.794-3 3zm-5-1c.806 0 .988.55 1 1h2c0-1.206-.799-3-3-3s-3 1.794-3 3l2 .012C7.012 11.55 7.194 11 8 11z"
              ></path>
            </svg>
          </div>
          <p class="mt-5 text-lg leading-6 font-bold text-white">
            Не требуются осмотр и оценка
          </p>
        </dt>
        <dd class="mt-2 text-base text-gray-400">
          Наши продукты основаны на доверии и удобстве. Мы отказались от осмотра
          и оценки, чтобы не тратить время клиента и не делать продукт дорогим.
        </dd>
      </div>

      <div>
        <dt>
          <div class="flex h-12 w-12 rounded-md bg-primary-500 text-white">
            <!-- Heroicon name: outline/lightning-bolt -->
            <svg
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              viewBox="0 0 640 512"
              class="h-8 w-8 fill-[#3cff4d] stroke-[#3cff4d]"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M622.34 153.2L343.4 67.5c-15.2-4.67-31.6-4.67-46.79 0L17.66 153.2c-23.54 7.23-23.54 38.36 0 45.59l48.63 14.94c-10.67 13.19-17.23 29.28-17.88 46.9C38.78 266.15 32 276.11 32 288c0 10.78 5.68 19.85 13.86 25.65L20.33 428.53C18.11 438.52 25.71 448 35.94 448h56.11c10.24 0 17.84-9.48 15.62-19.47L82.14 313.65C90.32 307.85 96 298.78 96 288c0-11.57-6.47-21.25-15.66-26.87.76-15.02 8.44-28.3 20.69-36.72L296.6 284.5c9.06 2.78 26.44 6.25 46.79 0l278.95-85.7c23.55-7.24 23.55-38.36 0-45.6zM352.79 315.09c-28.53 8.76-52.84 3.92-65.59 0l-145.02-44.55L128 384c0 35.35 85.96 64 192 64s192-28.65 192-64l-14.18-113.47-145.03 44.56z"
              ></path>
            </svg>
          </div>
          <p class="mt-5 text-lg leading-6 font-bold text-white">
            Индивидуальное покрытие
          </p>
        </dt>
        <dd class="mt-2 text-base text-gray-400">
          Настройте свой собственный набор рисков и подберите покрытие, которое
          подходит для вас и вашего дома.
        </dd>
      </div>
      <div>
        <dt>
          <div class="flex h-12 w-12 rounded-md bg-primary-500 text-white">
            <!-- Heroicon name: outline/lightning-bolt -->
            <svg
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              viewBox="0 0 512 512"
              class="h-8 w-8 fill-[#3cff4d] stroke-[#3cff4d]"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M256 504c136.967 0 248-111.033 248-248S392.967 8 256 8 8 119.033 8 256s111.033 248 248 248zm-103.398-76.72l53.411-53.411c31.806 13.506 68.128 13.522 99.974 0l53.411 53.411c-63.217 38.319-143.579 38.319-206.796 0zM336 256c0 44.112-35.888 80-80 80s-80-35.888-80-80 35.888-80 80-80 80 35.888 80 80zm91.28 103.398l-53.411-53.411c13.505-31.806 13.522-68.128 0-99.974l53.411-53.411c38.319 63.217 38.319 143.579 0 206.796zM359.397 84.72l-53.411 53.411c-31.806-13.505-68.128-13.522-99.973 0L152.602 84.72c63.217-38.319 143.579-38.319 206.795 0zM84.72 152.602l53.411 53.411c-13.506 31.806-13.522 68.128 0 99.974L84.72 359.398c-38.319-63.217-38.319-143.579 0-206.796z"
              ></path>
            </svg>
          </div>
          <p class="mt-5 text-lg leading-6 font-bold text-white">
            Гибкая настройка полиса
          </p>
        </dt>
        <dd class="mt-2 text-base text-gray-400">
          Вы можете застраховать гражданскую ответственность отдельно от
          конструктива.
        </dd>
      </div>
    </dl>
  </div>
</div>

<div class="flex flex-row gap-10 -mt-20 flex-wrap w-full justify-center">
  <div class="flex items-center justify-center px-5 py-5">
    <div
      class="w-full mx-auto rounded-xl bg-white shadow-lg px-5 pt-5 pb-10 text-gray-800 lg:max-w-xl"
    >
      <div class="pb-5 -mt-14 flex flex-row gap-5">
        <a href="#" class="block relative">
          <img
            alt="avatar"
            src="https://res.cloudinary.com/dalyoko/image/upload/c_scale,q_80,w_220/v1635854146/krysha/image-2.jpg"
            class="border-[6px] border-white object-cover rounded-full h-28 w-28"
          />
        </a>
        <div class="mt-12">
          <p class="text-md text-gray-700 font-bold">Сергей Г.</p>
          <p class="text-xs text-gray-500">БРЕНД-МЕНЕДЖЕР</p>
        </div>
      </div>

      <div class="w-full mb-10">
        <p class="text-gray-600 text-gray-600">
          Самые распространенные страховые случаи — это заливы квартиры при
          коммунальных авариях. На них, по данным страховщиков, приходится около
          70% от всех убытков. Средняя сумма ущерба от залива составляет от 100
          000 ₽ до 150 000 ₽.
        </p>
      </div>
    </div>
  </div>

  <div class="flex items-center justify-center px-5 py-5">
    <div
      class="w-full mx-auto rounded-xl bg-white shadow-lg px-5 pt-5 pb-10 text-gray-800 w-full lg:max-w-xl"
    >
      <div class="pb-5 -mt-14 flex flex-row gap-5">
        <a href="#" class="block relative">
          <img
            alt="avatar"
            src="https://res.cloudinary.com/dalyoko/image/upload/c_scale,q_80,w_220/v1635854149/krysha/image.jpg"
            class="border-[6px] border-white object-cover rounded-full h-28 w-28"
          />
        </a>
        <div class="mt-12">
          <p class="text-md text-gray-700 font-bold">Екатерина З.</p>
          <p class="text-xs text-gray-500">МЕНЕДЖЕР</p>
        </div>
      </div>

      <div class="w-full mb-10">
        <p class="text-gray-600 text-gray-600">
          Хороший проект. Мне удобно платить за страховку ежемесячно. Но самое
          главное, — оперативная связь с поддержкой и человеческое отношение,
          без постоянной смены операторов, которым надо все заново объяснять.
        </p>
      </div>
    </div>
  </div>
</div>
