{{ define "main"}}
<div class="max-w-7xl text-gray-900 mx-auto p-6">
  <div class="text-4xl lg:text-5xl font-bold my-10">
    По указанному адресу ничего не нашлось.
  </div>
  <nav
    class="flex flex-row justify-between items-center"
    aria-label="Breadcrumb"
  >
    <ol
      class="text-gray-600 inline-flex flex-wrap items-center space-x-1 md:space-x-3"
    >
      {{range .Pages}}

      <li class="flex items-center">
        <a
          href="{{.Permalink}}"
          class="ml-1 text-md font-medium text-blue-600 hover:text-blue-700 md:ml-2"
        >
          {{.Title}}
        </a>
        <svg
          class="w-6 h-6 text-gray-400"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"
          />
        </svg>
      </li>

      {{end}}
    </ol>
  </nav>
</div>
{{ end }}
